{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card main-card p-4 mt-5">
    <h1>Edit Item in "{{ stocklist.name }}"</h1>
    {% include 'components/separator.html' %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-info">Save Changes</button>
        <a href="{% url 'stocklist_items' stocklist.pk %}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}