{% extends 'base.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 mt-5 pt-5">
    <div class="card main-card pt-4 mt-4" style="">
        <h2 class="mb-3 text-center">Kontakt</h2>
        {% include 'components/separator.html' %}
        <div class="card secondary-card p-4 mt-4">
            <p class="lead mb-3 p-2">
                Du möchtest mich kontaktieren? Nutze das Formular unten!
            </p>
        </div>
        <div class="secondary-card p-5 mt-4">
            <div class="card-body">
               <div class="mb-3">
                <strong>Über mich:</strong> 
            </div>
                <p>👋Mein Name ist <strong>Felix Neumann</strong></p> 
                {% include 'components/separator.html' %}
                <p>Ich bin ein Junior Webentwickler mit Fokus auf moderne Webtechnologien und Frameworks. Ich freue mich über Feedback, Anfragen oder einfach einen netten Austausch!</p>
                 {% include 'components/separator.html' %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-info">Absenden</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}