# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
env/

# Django/Migrations
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp
*.bak
*.tmp
*.orig

# VSCode/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*
!.env.example

# Docker
docker-compose.dev.yml
Docker.dev
*.pid

# Media/Static (optional, falls nicht versioniert)
src/staticfiles/
src/mediafiles/

# System
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*
dist/
build/

# Optional: temporäre Frontend-Builds
src/static_src/css/
src/static_src/js/