# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
env/

# Django/Migrations
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp
*.bak
*.tmp
*.orig

# VSCode/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*
!.env.example

# Docker
docker-compose.dev.yml
Docker.dev
*.pid

# Media/Static (optional, falls nicht versioniert)
src/staticfiles/
src/mediafiles/

# System
.DS_Store
Thumbs.db