{% extends 'base.html' %}
{% block title %}
  MyStack
{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center min-vh-100 mt-5 pt-2">
    <div class="card main-card pt-4 pb-4 px-3 mt-4" style="max-width: 700px;">
      {% include 'components/separator.html' %}
      <div class="card secondary-card p-3 m-4 border-0 bg-dark-subtle">
        <h3 class="text-center mb-4 p-2 m-1 fw-bold">Mein Projects</h3>
    
      </div>
      {% include 'components/separator.html' %}
      <div class="card secondary-card p-3 m-4 border-0 bg-dark-subtle">
        <h3 class="text-center mb-4 p-2 m-1 fw-bold">
          <i class="bi bi-link-45deg text-primary"></i> Links
        </h3>
        <div class="row g-4 justify-content-center">
          <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light fw-bold mb-2">
                  <i class="bi bi-github"></i> Code zu dieser Page
                </h5>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-code-slash"></i> Python</span>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-database"></i> Django</span>
                <span class="badge bg-success text-light mb-2"><i class="bi bi-bootstrap"></i> Bootstrap</span>
                <span class="badge bg-success text-light mb-2"><i class="bi bi-droplet"></i> Sass</span>
                
                <p class="card-text m-2">Das Repository für diese Seite:</p>
                <a href="https://github.com/fncoding/fn-me" class="btn btn-outline-info" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i> GitHub Repository
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light fw-bold mb-2">
                  <i class="bi bi-github"></i> Code zu React Project
                </h5>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-react"></i> React</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> GSAP</span>
                
                <p class="card-text m-2">Das Repository für die Template-Seite.</p>
                <a href="https://orthopraxis-template.netlify.app/" class="btn btn-outline-light p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i> Live Demo
                </a>
                <a href="https://github.com/fncoding/react-landing-page" class="btn btn-outline-info p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i> GitHub Repository
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light fw-bold mb-2">
                  <i class="bi bi-github"></i> Code zu ICD-Diagnosen-Api
                </h5>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-react"></i> Python</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> Django</span>
                
                <p class="card-text m-2">Das Repository für die API</p>
                <a href="https://github.com/fncoding/icd10-api" class="btn btn-outline-info p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i> GitHub Repository
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light fw-bold mb-2">
                  <i class="bi bi-github"></i> Code zu ThreeJs Project - One Pager
                </h5>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-react"></i> React Vite</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> GSAP</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> ThreeJs</span>
                
                <p class="card-text m-2">Live Demo + GitHub Repo</p>
             <a href="https://github.com/fncoding/icd10-api" class="btn btn-outline-info p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i> GitHub Repository
                </a>
                  <a href="https://fncoding.netlify.app/" class="btn btn-outline-light p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>Brutalism Page
                </a>
            
            
              </div>
            </div>
          </div>
               <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light fw-bold mb-2">
                  <i class="bi bi-github"></i> Code zu ThreeJs Sneaker Page
                </h5>
                <span class="badge bg-info text-dark mb-2"><i class="bi bi-react"></i> React Vite</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> GSAP</span>
                <span class="badge bg-warning text-dark mb-2"><i class="bi bi-lightning"></i> ThreeJs</span>
                
                <p class="card-text m-2">Links zur Live Demo </p>
                <a href="https://mmsneaks.netlify.app/" class="btn btn-outline-light p-1 m-1" target="_blank">
                  <i class="bi bi-box-arrow-up-right"></i>Sneaker Page
                </a>
              </div>
            </div>
        </div>
      </div>
      {% include 'components/separator.html' %}
    </div>
  </div>
{% endblock %}
