@use "../../node_modules/bootstrap/scss/bootstrap";
@use "theme";
// Neue Schriftart importieren:
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Roboto', Arial, sans-serif;
}


.navbar {
  border-bottom: 1px solid var(--bs-border-color, #404040);
  box-shadow: 0 2px 8px rgba(137, 18, 141, 0.03);
  
  .container {
    border-bottom: none;
  }
  
}

.dropdown-menu {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  min-width: 180px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
}
.main-content {
  padding-bottom: 70px;
}

.alert {
  margin-top: 100px;
}


.login-card {
  width: 100%;
  max-width: 420px;
  border-width: 0;
  @media (min-width: 768px) {
    max-width: 500px;
  }
  @media (min-width: 992px) {
    max-width: 600px;
  }
}
.underline-glow {
  text-decoration: none;
  position: relative;
}

.underline-glow::after {
  background-color: #fff; 
  box-shadow: 0 0 10px #fff;
  height: 4px; 
  width: 100%;
  background: linear-gradient(to right, #7F5AF0, #0099ff); 
  border-radius: 2px; 
  margin: 1rem 0;
}
