{% extends 'base.html' %}
{% block content%}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card main-card p-4">
        <h1>Create Shopping List</h1>
        {% include "components/separator.html" %}

        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-info">Create ShoppingList</button>
        <a href="{% url 'shoppinglists' %}" class="btn btn-outline-light color-white">Cancel</a>
        </div>
    </form>
    </div>
</div>
{% endblock %}