{% extends 'base.html' %}
{% block content%}
<div class="d-flex justify-content-center align-items-center min-vh-100 pt-navbar">
    <div class="card p-4">
        <h1>Delete Shopping List</h1>
        {% include "components/separator.html" %}

        <p>Are you sure you want to delete the list "{{ object.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'shoppinglists' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}