<nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary mb-4 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'dashboard' %}">felixneumann.me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="font-size: 2rem;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'shoppinglists' %}">Shopping List</a>
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navbar-username" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                                <i class="bi bi-chevron-down ms-1"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'profile_edit' %}">Profil bearbeiten</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contact' %}">Kontakt</a>
                                </li>
                                <li>
                                    <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
