{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password reset sent' %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 pt-navbar">
    <div class="card bg-body-tertiary border-secondary login-card" style="max-width: 500px; width: 100%;">
        <div class="card-body p-4">
            {% include 'components/separator.html' %}
            <h2 class="card-title text-center mb-4">{% translate 'Password reset sent' %}</h2>
            {% include 'components/separator.html' %}
            <p class="text-center">
                {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </p>
            
            <p class="text-center">
                {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </p>
            {% include 'components/separator.html' %}
            <p class="mt-4 text-center">
                <a  href="{% url 'login' %}"><button class="btn btn-outline-info btn-lg color-white">{% translate 'Back to login' %}</button></a>
            </p>
            {% include 'components/separator.html' %}
        </div>
    </div>
</div>
{% endblock %}