# Django
SECRET_KEY=dein_geheimer_schluessel_hier_aendern
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL)
DATABASE_URL=postgres://user:password@db:5432/dbname

# Für docker-compose.yml (Entwicklung)
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Für Produktion (in .env.prod anpassen)
# DEBUG=False
# ALLOWED_HOSTS=felixneumann.me,www.felixneumann.me
# DATABASE_URL=postgres://prod_user:prod_password@ionos_db_host:ionos_db_port/prod_dbname (Beispiel für IONOS Managed DB)